/rails/config/database.yml
/rails/spec/spec.opts
/rails/spec/rcov.opts
/rails/log/*.log
/rails/db/*.sqlite3
/rails/db/*.sqlite3-journal
/rails/db/schema.rb
/rails/coverage/
/rails/tmp/restart.txt
.DS_Store
*.swp
*.swo
*~
